*::before, *::after, * {
    box-sizing: border-box;
  }
  
  body {
    background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
    color: hsl(261, 88%, 90%);
    text-align: center;
  }

  .flexbox {
    display: inline-block;
  }

  h1 {
    background: linear-gradient(to right, #f32170,#ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .strength-meter {
    position: relative;
    height: 2rem;
    width: 90%;
    border: 3px solid hsl(270, 25%, 2%);
    border-radius: 1rem;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .strength-meter::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: calc(1% * var(--strength, 0));
    background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
    transition: width 200ms;
  }
  
  .password-input {
    margin-top: 1rem;
    width: 90%;
    padding: .50rem .75rem;
    background-color: hsl(0, 0%, 0%);
    color: white;
    border: 1px solid hsl(0, 0%, 0%);
    border-radius: 10px;
    outline: none;
    text-align: center;
    border-radius: .3rem;
  }
  
  .password-input:focus {
    border-color: hsl(261, 88%, 70%);
  }
  
  .reasons > * {
    margin-top: .5rem;
    color: hsl(257, 21%, 6%);
  }

  /* Background Styles Only */
  
  @import url('https://fonts.googleapis.com/css?family=Raleway');
  
  * {
      font-family: Raleway;
  }

  .container {
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    display: block;
    width: 100%;
    min-width: 200px;
    max-width: 514px;
    height: 40vh;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(253, 253, 253);
    margin: 53px;
    margin-left: 0;
    margin-top: 30vh;
  }
  
  .side-links {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .side-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
    width: 180px;
    padding: 10px 0;
    border-radius: 10px;
  }
  
  .side-link-youtube {
    background-color: red;
  }
  
  .side-link-twitter {
    background-color: #1DA1F2;
  }
  
  .side-link-github {
    background-color: #6e5494;
  }
  
  .side-link-text {
    margin-left: 10px;
    font-size: 18px;
  }
  
  .side-link-icon {
    color: white;
    font-size: 30px;
  }